@font-face {
	font-family: 'Plumb';
	src: local('☺'), url('../assets/fonts/ofont.ru_Plumb.woff') format('woff'), url('../assets/fonts/ofont.ru_Plumb.woff2') format('woff2');
	font-weight: normal;
    font-style: normal;
}